#root {
  max-width: 1280px;
  text-align: center;
}
.reveal {
  animation: rev 3s forwards 17s;
}

.name {
  border-right: 3px solid;
  border-width: 0.01em;
  border-color: transparent;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  animation: typingReverse 3s steps(19) forwards 1s,
    typing 3s steps(19) forwards 6s, cursor 0.5s step-end alternate infinite,
    stop 0.5s step-end forwards 9s;
  font-family: jbbold;
  line-height: 1em;
  color: #fffced;
}
.name2 {
  border-right: 3px solid;
  border-color: transparent;
  border-width: 0.01em;
  white-space: nowrap;
  overflow: hidden;
  animation: typingReverse15 3s steps(3) forwards 9s,
    cursor 0.5s step-end alternate infinite 9s, stop 0.5s step-end forwards 12s;
  font-family: jbbold;
  line-height: 1em;
  width: 0%;
  color: #fffced;
}
.move {
  animation: topright 3s forwards 14s cubic-bezier(0.09, 0.85, 0.38, 0.98);
}
.menu {
  background-color: transparent;
  animation: revealMenu 3s forwards 14s cubic-bezier(0.09, 0.85, 0.38, 0.98);
}
.menuitems {
  background-color: #001024;
  color: #fffced;
}
.menuitems:hover {
  background-color: #fffced;
  color: #001024;
  border-color: #fffced;
}
@keyframes rev {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: #fffced;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes typingReverse15 {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes typingReverse {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes stop {
  to {
    border-color: transparent;
  }
}
@keyframes topright {
  100% {
    top: 5%;
    left: 25%;
  }
}
@keyframes revealMenu {
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@font-face {
  font-family: jbthin;
  src: url("/fonts/JetBrainsMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: jbregular;
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: jbmedium;
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: jbbold;
  src: url("/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: jblight;
  src: url(./fonts/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: jbxb;
  src: url(./fonts/JetBrainsMono-ExtraBold.ttf);
}

@font-face {
  font-family: jbxlight;
  src: url(./fonts/JetBrainsMono-ExtraLight.ttf);
}

@font-face {
  font-family: jbssemi;
  src: url(./fonts/JetBrainsMono-SemiBold.ttf);
}
