#root {
  max-width: 1280px;
  text-align: center;
}

.name {
  border-right: 3px solid;
  border-width: 0.01em;
  border-color: transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(19) forwards,
    cursor 0.5s step-end alternate infinite, stop 0.5s step-end forwards 9s;
  font-family: cutive;
  line-height: 1em;
}
.name2 {
  border-right: 3px solid;
  border-color: transparent;
  border-width: 0.01em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typingReverse 3s steps(3) forwards 9s,
    cursor 0.5s step-end alternate infinite 9s, stop 0.5s step-end forwards 12s;
  font-family: cutive;
  line-height: 1em;
  width: 0;
}

@keyframes cursor {
  50% {
    border-color: #000005;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes typingReverse {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes stop {
  to {
    border-color: transparent;
  }
}

@font-face {
  font-family: cutive;
  src: url(./fonts/CutiveMono-Regular.ttf);
}
